<%- include ("../partials/header") %>

<div class="container-fluid">
  <section id="form">
    <form id="myForm" class="needs-validation" novalidate action="/faculty/IndustryConnectDatabase"
      data-isinsertmode=<%=isInsertMode%>>
      <div class="container-fluid">

        <!-- Header Section -->

        <div class="row data-row">
          <div class="col-md-8 mb-3">
            <h4 class="mb-3 title">Industry Connect Database</h4>
          </div>
          <div class="col-md-4 mb-3 report">
            <a href="/faculty/search" class="btn btn-sm btn-primary shadow-sm"><i
                class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>
          </div>
        </div>
        <div class="row data-row">

          <div class="col-md-6 mb-3">
            <label class="required"> Name</label>
            <input type="text" name="Name" class="form-control">
            <div class="invalid-feedback">
              Please enter valid details.
            </div>
          </div>
          <div class="col-md-6 mb-3">
            <label class="required">Company Name</label>
            <input type="text" name="CompanyName" class="form-control">
            <div class="invalid-feedback">
              Please enter valid details.
            </div>
          </div>
        </div>

        <div class="row data-row">

          <div class="col-md-6 mb-3">
            <label class="required">Address</label>
            <input type="text" name="Address" class="form-control">
            <div class="invalid-feedback">
              Please enter valid details.
            </div>
          </div>
          <div class="col-md-6 mb-3">
            <label class="required">Mobile Number</label>
            <input type="tel" name="MobileNumber" class="form-control">
            <div class="invalid-feedback">
              Please enter valid details.
            </div>
          </div>
        </div>

        <div class="row data-row">
          <div class="col-md-6 mb-3">
            <label class="required">E-mail</label>
            <input type="email" name="email" class="form-control">
            <div class="invalid-feedback">
              Please enter valid details.
            </div>
          </div>

          <div class="col-md-6 mb-3">
            <label class="required">Organized By</label>
            <br>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" name="OrganizedBy-CSE" value="CSE">
              <label class="form-check-label">
                CSE
              </label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" name="OrganizedBy-ISE" value="ISE">
              <label class="form-check-label">
                ISE
              </label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" name="OrganizedBy-CIVIL" value="CIVIL">
              <label class="form-check-label">
                CIVIL
              </label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" name="OrganizedBy-MECH" value="MECH">
              <label class="form-check-label">
                MECH
              </label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" name="OrganizedBy-ECE" value="ECE">
              <label class="form-check-label">
                ECE
              </label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" name="OrganizedBy-EEE" value="EEE">
              <label class="form-check-label">
                EEE
              </label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" name="OrganizedBy-BS" value="BS">
              <label class="form-check-label">
                BS
              </label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" name="OrganizedBy-MBA" value="MBA">
              <label class="form-check-label">
                MBA
              </label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" name="OrganizedBy-MCA" value="MCA">
              <label class="form-check-label">
                MCA
              </label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" name="OrganizedBy-TCE" value="TCE">
              <label class="form-check-label">
                TCE
              </label>
            </div>
          </div>

        </div>



        <%- include ("../partials/description") %>

        <div class="submit-button">
          <%if(isInsertMode){%>
          <button class="btn btn-primary btn-lg btn-block buttons" type="submit">
            Submit</button>
          <%} else{%>
          <button class="btn btn-secondary btn-lg btn-block buttons" type="submit">
            Update</button>
          <span id='variableJSON' hidden>
            <%= JSON.stringify(data); %>
          </span>
          <%}%>
        </div>
        </div>

      </form>



    </section>

  </div>

  <!-- Footer -->


  <%- include ("../partials/footer") %>


          </script>

          </body>

          </html>